/* Define mixins */
@keyframes transition_all_03s {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes backface_visibility_hidden {
  from {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  to {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}


/* *,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* Swiper container styles */
gamethumb .swiper-container {
  width: 100%;
  height: 28vw;
  transition: opacity 0.6s ease;
}
gamethumb .swiper-container.swiper-container-coverflow {
  padding-top: 2%;
}
gamethumb .swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}
gamethumb .swiper-container:hover .swiper-button-prev,
gamethumb .swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/* Swiper wrapper styles */
gamethumb .swiper-wrapper {
}

/* Swiper slide styles */
gamethumb .swiper-slide {
  background-position: center;
  background-size: cover;
}
gamethumb .swiper-slide .slide-inner {
}
gamethumb .swiper-slide .entity-img {
  display: none;
}
gamethumb .swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  /* color: #fff; */
}
gamethumb .swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
gamethumb .swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
}

/* Swiper button styles */
[class^='swiper-button-'] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  animation: transition_all_03s 0.3s ease;
}
gamethumb .swiper-button-prev {
  transform: translateX(50px);
}
gamethumb .swiper-button-next {
  transform: translateX(-50px);
}

/* Swiper pagination styles */
gamethumb .swiper-container-horizontal
  > gamethumb .swiper-pagination-bullets
  gamethumb .swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  /* background-color: #fff; */
  opacity: 0.4;
  animation: transition_all_03s 0.3s ease;
}
gamethumb .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet:hover,
gamethumb .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
gamethumb .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-width: 1px;
}

/* Media queries */
@media (max-width: 1180px) {
  gamethumb .swiper-slide .content .title {
    font-size: 25px;
  }
gamethumb  .swiper-slide .content .caption {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
 gamethumb .swiper-container {
    height: 40vw;
  }
 gamethumb .swiper-container.swiper-container-coverflow {
    padding-top: 0;
  }
}
