.blog_card {
  padding: 20px;
  border-radius: 20px;
  background: #0f1c23;
  transition: 0.4s;
}

.blog_card:hover {
  translate: 0 -10px;
}

.blog_card-title {
  font-size: 18px;
  font-weight: 600;
  color: #b2eccf;
  margin: 15px 0 0 10px;
}

.blog_card-image {
  min-height: 170px;
  border-radius: 15px;
}

.blog_card-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.blog_footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}
