.cat_btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0b0e13, #0f1c23, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

.cat_btn .cat_svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.cat_btn .cat_span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.cat_btn:hover .cat_svg {
  transform: translateX(5px) rotate(90deg);
}

.cat_btn:hover .cat_span {
  transform: translateX(7px);
}
