.reveal-from-left {
  opacity: 0;
  transform: translateX(-10%);
  animation: revealLeft 1s forwards;
}

@keyframes revealLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.reveal-from-top {
  opacity: 0;
  transform: translateY(-30%);
  animation: revealtop 1s forwards;
}

@keyframes revealtop {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
