allgamesfetch .bhututu {
 padding: 0.8em 1.8em;
 border: 2px solid #45F882;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #45F882;
}

allgamesfetch .bhututu::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #45F882;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

allgamesfetch .bhututu:hover::before {
 width: 105%;
}

allgamesfetch .bhututu:hover {
 color: #111;
}

