/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

stickers .swiper {
  width: auto;
}

stickers .swiper-slide {
  text-align: center;
  /* font-size: 18px;
  border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

stickers .swiper-slide img {
  display: block;
  width: auto;
  border-radius: 0.75rem;
  object-fit: cover;
}

.hover-zoom {
  overflow: hidden;
  position: relative;
}

.hover-zoom img {
  transition: transform 0.3s ease;
}

.hover-zoom:hover img {
  transform: scale(1.1);
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  margin-top: 20px;
  flex: auto;
  justify-content: center;
  border: #45f882;
  top: 3rem;
}

.swiper-pagination .swiper-pagination-bullet {
  /* filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); */
  filter: drop-shadow(0px 8px 24px rgba(69, 248, 130, 0.7));

  border: #45f882;
}

.swiper-pagination .swiper-pagination-bullet-active {
  /* background: var(--primary); */
  background-color: #45f882;
  border: #45f882;
}

stickers .hover-zoom {
  overflow: hidden;
  position: relative;
}

stickers .hover-zoom img {
  transition: transform 0.3s ease;
}

stickers .hover-zoom:hover img {
  transform: scale(1.3);
}
